#app {
	// 主体区域
	.main-container {
		margin-left: 180px;
		min-height: 100%;          //最小高度,%代表基于包含它的块级元素的百分比最小高度
		transition: margin-left .28s;			//左边距变化动画时间
	}

	// 显示状态的侧边栏
	.sidebar-container {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		z-index: 1001;
		width: 180px !important;
		height: 100%;
		font-size: 0px;
		transition: width .28s;							//宽度变化动画时间
		overflow: hidden;
		// 重置element-ui的折叠动画
		.horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }
		// 滚动区域
		.scrollbar-wrapper {
      overflow-x: hidden !important; 
      .el-scrollbar__view {
      	height: 100%;				//设置滚动区域的高度占满屏幕
      }
    }
    // 侧边栏图标
		.svg-icon {
			margin-right: 16px;
		}
		// 内容显示区域
		.el-menu {
			border: none;
			height: 100%;
			width: 100%;
		}
		// 子菜单的内容
		.el-submenu .el-menu-item {
			background-color: $subMenuBg !important;
			&:hover {
				background-color: $menuHover !important;
			} 
		}
	}

	// 隐藏状态的侧边栏
	.hideSidebar {
		.sidebar-container {
			width: 36px !important;
		}
		.main-container {
			margin-left: 36px;
		}
		.submenu-title-noDropdown {
      // padding-left: 10px !important;
      // position: relative;
      .el-tooltip {
        padding: 0 10px !important;				//重置icon的偏移量
      }
    }
    .el-submenu > .el-submenu__title {
    	padding-left: 10px !important;			
    	.el-submenu__icon-arrow {
    		display: none;			//隐藏箭头图标
    	}
    }
	}

	// 适配移动端
	.mobile {
		.main-container {
			margin-left: 0px;
		}
		.sidebar-container {
			transition: transform .28s;
			width: 180px !important;
		}
		&.hideSidebar {
			.sidebar-container {
				transition-duration: .3s;
				transform: translate3d(-180px,0,0);
			}
		}
		.withoutAnimation {
			.main-container,
			.sidebar-container {
				transition: none;
			}
		}
	}
	
}