.todoapp {
	position: relative;
	line-height: 1.4em;
	background-color: #fff;
	font-weight: 300;
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // 输入框
	.new-todo,
	.edit {
		width: 100%;
		font-size: 18px;
		line-height: 1.4em;
		border: 1px solid #999;
		box-sizing: border-box;     //盒子宽度固定,内容自动调整
	}
	// 头部输入框
	.new-todo {
		border: 0;
		padding: 10px 16px 16px 60px;
		background-color: rgba(0,0,0,.003);
		box-shadow: inset 0 -2px 1px rgba(0,0,0,.03);
	}
	// 去除输入框选中后的高亮显示
	:focus {	
		outline: 0;   
	}
	// 主题区域
	.main {
		position: relative;
		border-top: 1px solid #e6e6e6
	}

   .todo-list li .toggle+label {
    /*
    Firefox requires `#` to be escaped - https://bugzilla.mozilla.org/show_bug.cgi?id=922433
    IE and Edge requires *everything* to be escaped to render, so we do that instead of just the `#` - https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/7157459/
  */
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    // background-position: center left;
    // background-size: 36px;
  }
  .todo-list li .toggle:checked+label {
    // background-size: 36px;
    // background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
  }

	.toggle-all {
		position: absolute;
		opacity: 0;
    + label {
      position: absolute;
      top: -48px;
      left: -13px;
      width: 60px;
      height: 34px;
      transform: rotate(90deg);
      &:before {
        content: '❯';
        font-size: 22px;
        color: #e6e6e6;
        padding: 10px 27px 10px 27px
      }
    }
    &:checked + label:before {
      color: #737373;  
    }
	}


	.todo-list {
		list-style: none;
    li {
      position: relative;
      font-size: 24px;
      border-bottom: 1px solid #ededed;
      // 复选框
      .toggle {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 40px;
        height: auto;
        appearance: none;             // 清除复选框默认样式
        -moz-appearance: none;        // Firefox 
        -webkit-appearance: none;     // Safari 和 Chrome 
      }
      // 文本
      label {
        padding: 15px 15px 15px 50px;
        font-size: 14px;
        display: block;       //设置为块级元素
        line-height: 1;       //设置数字，此数字会与当前的字体尺寸相乘来设置行间距,即14px
        word-break: break-all;    //允许在单词内换行，这样尾部换行会对齐
        transform: color .4s;    
      }
      // 删除按钮
      .destroy {
        position: absolute;
        top: 0;
        right: 10px;
        width: 40px;
        height: 40px;
        display: none;
        margin: auto 0;
        font-size: 30px;
        color: #cc9a9a;
        transition: color .2s ease-out;
        &:after {
          content: '×';
        }
        &:hover {
          color: #af5b5e;
        }
      }
      &:hover .destroy {
        display: block;
      }
      // 最后一个li元素
      &:last-child {
        border-bottom :none;
      }
      // 选中后的文本
      &.completed label {
        color: #d9d9d9;
        text-decoration: line-through;
      }
    }
	}

  button {
    border: 0;
    background: none;
  }

}